.header{
    background-image: url("/images/header-background-png-2.png" ) ;
    background-size: "cover";
    height: 100px;
}


#selectionbar{
    background-color: rgb(10, 143, 231);
    color: white;
}

.center
{
    align-content: center;
}

.searchbox{
    width: 120%;
}
.searchbar{
    display: inline;
}

.statusbar{
    display: inline;
}

#numberofitem
{
    width: 30%;
    background-color: red;
    color: white;
    border-radius: 30%;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #e68709 !important;
}