#NavBarEle{
    background-image: url("/images/header-background-png-2.png" ) ;
    background-size: "cover";
    height: 100px;
}
.menu{
    color: blanchedalmond;
    width: 100%;
}

.LinkEle{
    text-decoration-color: none;
    color: antiquewhite;
    font-family: cursive;
  
}
.btn-primary {
    color: #fff;
    background-color: #293848;
    border-color: #adc1d6;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    background: beige;
}